!.project
!.classpath
!src-gen/ingraph/optimization/patterns/*.java
!src-gen/ingraph/optimization/patterns/util/*.java
src-gen/ingraph/optimization/patterns/.gitignore
src-gen/ingraph/optimization/patterns/util/.gitignore
