<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="ingraph.optimization.patterns.ParentOperator" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:ingraph.optimization.patterns.ParentOperator" id="ingraph.optimization.patterns.ParentOperator">
      <query-specification fqn="ingraph.optimization.patterns.parentOperator"/>
    </group>
  </extension>
  <extension id="ingraph.optimization.patterns.Relalg2Rete" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:ingraph.optimization.patterns.Relalg2Rete" id="ingraph.optimization.patterns.Relalg2Rete">
      <query-specification fqn="ingraph.optimization.patterns.defaultExpandOperator"/>
      <query-specification fqn="ingraph.optimization.patterns.expandVertex"/>
      <query-specification fqn="ingraph.optimization.patterns.expandOperatorA"/>
      <query-specification fqn="ingraph.optimization.patterns.expandOperatorB"/>
      <query-specification fqn="ingraph.optimization.patterns.sortAndTopOperator"/>
      <query-specification fqn="ingraph.optimization.patterns.leftOuterJoinAndSelection"/>
      <query-specification fqn="ingraph.optimization.patterns.variablesInLogicalExpression"/>
      <query-specification fqn="ingraph.optimization.patterns.leftDeepTreeNodes"/>
    </group>
  </extension>
  <extension id="ingraph.optimization.patterns.TrivialOptimizations" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:ingraph.optimization.patterns.TrivialOptimizations" id="ingraph.optimization.patterns.TrivialOptimizations">
      <query-specification fqn="ingraph.optimization.patterns.CascadableSelection"/>
      <query-specification fqn="ingraph.optimization.patterns.SwappableSelection"/>
      <query-specification fqn="ingraph.optimization.patterns.CommutativeOperator"/>
      <query-specification fqn="ingraph.optimization.patterns.AssociativeOperator"/>
    </group>
  </extension>
</plugin>
