root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.{java,xtend}]
indent_size = 2
indent_style = tab

[*.{scala,xcore}]
indent_size = 2
indent_style = space

[*.xcore]
trim_trailing_whitespace = false

[*.gradle]
indent_size = 2
indent_style = space
