plugin.xml_gen
bin/
target/
tmp/
.settings/
.classpath
.project
.DS_Store*
.metadata
runtimeInfo
workspace
*._trace
Thumbs.db
.idea
log/
catalog-v*.xml
.Rhistory
.RData
.Rproj.user


### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

gen/

.cache-main
.cache-tests
xtend-gen
generated/

out/
.tmpBin/
ingraph-cypxmi/
internal/*.g
*.xtextbin
hs_err_pid*.log
