<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.Cypher.ingraph"
			class = "ingraph.cypher.CypherPackage"
			genModel = "model/generated/Cypher.genmodel" />
	</extension>
</plugin>
