<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="FullFile" fileName="full.log" bufferedIO="true" advertiseURI="full.log" advertise="true">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
              <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="FullFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
